footer{
    background-color: rgb(226, 226, 226);
    margin-bottom: 0;
    margin-top: 2em;

    .redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .direccion{
            font-size: 14px;
            color: black;
            padding: 15px 15px 0px 15px;
        }
    }
}



