@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    min-height: 100vh;
}

h1{
    background-color: rgb(161, 231, 236);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border-radius: 20px;
    margin: 0% 15%;
}

.logo{
    width: 15em;
}

header{
    display: flex;
    justify-content: end;
}