.galeria{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.fotos{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.img-index{
    border: solid orange 3px;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
}

.subtitulo{  
    background-color:  rgb(161, 231, 236);
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    margin: 0% 10%;
    margin-top: 20px;
    padding: 5px;
}

.marcas{
    max-width: 80%;
}

@include mobile{
    .fotos{
        width: 440px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
}

@include tablet{
    .fotos{
        width: 720px;}
}

@include desktop{
    .fotos{
        width: 980px;
    }
}