.pregunta{
    background-color: lightblue;
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}

.respuesta{
    background-color: rgba(255, 155, 194, 0.733);
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}


