.pregunta{
    background-color: lightblue;
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}

.respuesta{
    background-color: lightcoral;
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
}

.preg{
    display: flex;
    flex-direction: row;
    text-align: center; 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0vh 10%;

}